/* Estilos da pagina index.html*/
.container{
    display: flex;
    flex-flow:row;
    justify-content: center;
    align-items: center;
}


.justify{
    text-align:justify ;

}


.center{
    text-align: center;
}

#menu li {
    display: inline;
    padding:30px;
}

#menu li a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

#menu li a:hover{
    color:darkorchid;
}

.p-30{
    padding:60px ;
}

.br-50{
    border-radius:100%;
}

.wh-300{
    width:300px;
    height:300px;
    
}

.tm-social{
    width:10px;
    height:350px;

}

.tk{
    width:150px;
    height:150px;
}

.mb-50{
    margin-bottom:1350px;
}

/* Estilos dapágina contato.html*/

.ml-50{
    margin-left:50px;
}